.chat {
  flex: 2;

  .chatInfo {
    height: 70px;
    background-image: linear-gradient(to right, #4dabf7, #50a7f9, #55a2fb, #5d9dfd, #6697fd, #6c93fe, #738efe, #7b89fd, #8184fd, #8880fc, #907bfb, #9775fa);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: darkblue;

    .chatUser {
      display: flex;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 20px;
        line-height: 35px;
      }
    }

    .chatIcons {
      display: flex;
      gap: 10px;

      img {
        height: 24px;
        cursor: pointer;
      }
    }
  }
}
