@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.home {
  background-image: linear-gradient(to right bottom, #a5d8ff, #a3d3ff, #a2ceff, #a2c9ff, #a3c4ff, #a3bfff, #a4baff, #a6b4ff, #a7adff, #a9a6ff, #ac9ffe, #b197fc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 65%;
    height: 80%;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;

    @include tablet {
      width: 90%;
    }
  }
}
